<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>

<body>
<h1>Welcome to...</h1>
<img th:src="@{/images/TacoCloud.png}" width="400"/>
<form id="loginForm">
<input type="button" onclick="location.href='/login';" value="Login"/>
</form>
<form method="POST" th:action="@{/logout}" id="logoutForm">
    <input type="submit" value="Logout"/>
</form>

<p>
<form id="design">
    <input type="button" onclick="location.href='/design';" value="Design a taco"/>
</form>
</p>
<p>New here? Click <a th:href="@{/register}">here</a> to register.</p>
</body>
</html>